:root {
    --light: 238, 238, 238;     /* #EEEEEE */
    --secondary: 57, 62, 70;    /* #393E46 */
    --primary: 0, 173, 181;     /* #00ADB5 */
    --dark: 34, 40, 49;         /* #222831 */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
    padding: 1rem 7rem;
}

@media screen and (max-width: 990px) {
    .content-container {
        padding: 0.15rem 0.5rem;
    }
}
